body {
    background-image: url('https://images.unsplash.com/photo-1548350896-fafc317d3ceb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-size: cover;
}

main {
    max-width: 500px;
    padding-top: 40px;
    margin: auto;
    font-family: sans-serif;
}

form {
    display: flex;
    flex-direction: column;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.custom-field {
    position: relative;
    font-size: 14px;
    margin-bottom: 5px;
    --field-padding: 12px;
}

.custom-field:first-child {
    font-size: 24px;
}

.custom-field input {
    border: 1px solid #f2f2f2;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: var(--field-padding);
    border-radius: 3px;
    width: 500px;
    outline: none;
    font-size: 14px;
}

.custom-field:first-child input{
    font-size: 24px;
}

.custom-field textarea {
    border: 1px solid #f2f2f2;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: var(--field-padding);
    border-radius: 3px;
    width: 500px;
    height: 500px;
    outline: none;
    font-size: 14px;
    font-family: sans-serif;
}

.custom-field .placeholder {
    position: absolute;
    left: var(--field-padding);
    width: calc(50% - (var(--field-padding) * 2 ));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 22px;
    line-height: 100%;
    transform: translateY(-50%);
    color: #aaa;
    transition:
        left 0.3s ease
}

.custom-field:first-child .placeholder {
    top: 28px;
}

.custom-field input.dirty+.placeholder,
.custom-field input:focus+.placeholder,
.custom-field input:not(:placeholder-shown)+.placeholder {
    left: -90px;
}

.custom-field textarea.dirty+.placeholder,
.custom-field textarea:focus+.placeholder,
.custom-field textarea:not(:placeholder-shown)+.placeholder {
    left: -90px;
}

.submit {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 12px;
    border-radius: 3px;
    width: 500px;
    outline: none;
    font-size: 14px;
    background-color: white;
    cursor: pointer;
}

p{
    border: 1px solid #f2f2f2;
    background-color: white;
    border-radius: 3px;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 12px;
}

p:first-child{
    font-size: 24px;
}

.post-time{
    color:#aaa;
    padding-left: 10px;
}

.body {
    height: 500px;
}

.exit{
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 12px;
    border-radius: 3px;
    width: 50px;
    float: right;
    outline: none;
    font-size: 14px;
    background-color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: black
}
